*{
    background-color:rgb(231, 231, 237);
}
section{
    width: 50%;
    display: flex;
    flex-wrap: wrap; 
}

.tarjeta{
    gap:1px;
    margin: 2%;
    border-radius:3%;
    padding: 15px;
    background-color: rgb(31, 55, 101);
    color: white;
    box-shadow: 10px 5px 5px rgb(113, 113, 113);
}
div p{
    background-color: transparent;
}
strong {
    font-family: Arial;
    background-color: transparent;
}ds
img{
    width: 180px;
    height: 180px;
    border-radius: 60%;
}



